@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-family: "Inter", sans-serif;
  }

  body {
    background-color: #0b0b0b;
  }
}


.swiper-pagination {
  bottom: 1.5rem !important;
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 7px !important;
  border-radius: 5px !important;
}

.swiper-pagination-bullet-active {
  background: #008bff !important;
  width: 35px !important;
}
