@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@layer base {
  :root {
    --Navy: #071952;
    --Cyan1: #088395;
    --Cyan2: #37b7c3;
    --CyanHover: #0fa3b1;
    --White: #fff;
    --White2: #ebf4f6;
    --NavyDark: #040714;
    --Gold: #f5c77a;
    --TextPrimary: #0f172a;
    --TextSecondary: #64748b;
    --Textmuted: #94a3b8;
    --Danger: #e5533d;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", serif;
    font-family: "Inter", sans-serif;
  }

  body {
    background-color: var(--NavyDark);
  }
}

.swiper-pagination {
  bottom: 1.5rem !important;
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 7px !important;
  border-radius: 5px !important;
}

.swiper-pagination-bullet-active {
  background: #008BFF !important;
  width: 35px !important;
}
